#form-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input{
    background-color: rgba(242,242,241,1);
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 7px 0;
    width: 100%;
}

#root{
    background-image: image-set("./src/assets/rosario.jpg");
    background-repeat: repeat;
    height: 100vh;
}

div{
    width: 100%;
}

#register-form{
    display: grid;   
    justify-items: center;
    background-color: rgba(227, 227, 227, 0.8);
    border-radius: 10px;
    padding: 40px;
    grid-template-columns: 1fr  1fr;
    gap: 20px;
}

.register-input{
    height: 30px;
    border: 1px solid #fff;
}

#form-img{
    width: 100px;
    border-radius: 100px;
}

.form-button{
    width: 100%;
    margin: 10px;
    grid-row: 3/4;
    grid-column: 1/4;
}

#radio-container{
    display: flex;
    grid-column: 1/2;
    grid-row: 3/4;
}

.vehicle-info{
    grid-column: 3/4;
    grid-row: 2/3;
}

.general-info{
    grid-column: 1/3;
}

.header-form{
    grid-column: 1/4;
    text-align: center;
}

.vehicle-info-title{
    grid-row: 1/2;
}

.border-danger{
    border: 1px solid red;
}

.border-danger:focus{
    border: 1px solid red;
    outline: none;
}