:root{
    --main-color: rgba(24,21,16,1);
    --orange-color: rgba(243,149,13,1);
    --brown-color: rgba(59,50,38,1);
}

#driver-screen-card-container h5{
    text-transform: capitalize ;    
}

#driver-screen-card-container{
    background-color: var(--main-color);
    color: #fff;
}

.driver-screen-buttons{
    display: flex;
    justify-content: end;
    padding: 10px;
    margin: 10px;
}

*::-webkit-scrollbar{
    background-color:var(--brown-color);
    scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(97, 94, 90);
    scrollbar-width: thin;
}

#driver-screen-button-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#card-container{
    background-color: var(--main-color);
    color: #fff;
}

.driver-screen-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#profile-picture{
    width: 10%;
}

#driver-screen-img-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
