:root {
    --main-color: rgba(24, 21, 16, 1);
    --orange-color: rgba(243, 149, 13, 1);
    --brown-color: rgba(59, 50, 38, 1);
    margin: 0;
    padding: 0;
}

#driver-screen-card-container h5 {
    text-transform: capitalize;
}

.driver-screen-main-container {
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/fondo-dia.webp");


}

[theme="dark"] .driver-screen-main-container {
    background-image: url("./src/assets/rosario.jpg");
}

#driver-screen-card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(227, 227, 227, 0.8);
    width: 50%;
    max-height: 500px;
    color: #333;
    margin-bottom: 50px;
    border-radius: 5px;
    margin: 20px;
}

.navbar-DriverScreen {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

[theme="dark"] #driver-screen-card-container {
    background-color: rgba(51, 51, 51, 0.817);
    color: #ffd700;
}

.driver-container {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 40px;
    gap: 10px;

}

.contenedor-imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#driver-screen-header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #7d7d7d;
    text-transform: capitalize;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


*::-webkit-scrollbar {
    background-color: var(--brown-color);
    scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(97, 94, 90);
    scrollbar-width: thin;
}

#driver-screen-button-container {
    display: flex;
    justify-content: center;

}

#card-container {
    background-color: var(--main-color);
    color: #fff;
}

.driver-screen-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 1000px;
    border-radius: 50px;

}

#profile-picture {
    width: 10%;
}

#driver-screen-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.driver-screen-list {
    min-height: 500px;
    background-color: red;
}

#container-list-items {
    min-height: 250px;
}