#register-admin-form-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#register-admin-form-container header{
    grid-row: 1/2;
    grid-column: 1/4;
}
#register-admin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.register-admin-input {
    background-color: rgba(242, 242, 241, 1);
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin: 7px 0;
    width: 100%;
}

#root {
    background-color: #000;
    background-image: image-set("./src/assets/rosario.jpg");
}



#register-admin-form-container form {
    display: grid;
    justify-items: center;
    background-color: rgba(227, 227, 227, 0.817);
    border-radius: 10px;
    padding: 40px;
    
}

#register-admin-form-container img {
    width: 100px;
    border-radius: 100px;
}

#register-admin-form-container button {
    width: 100%;
    margin: 10px;
}

#register-admin-form-container .userType {
    margin: 10px 30px;
}

.register-admin-select-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px;

}

#type-user-select{
    border-radius: 5px;
    border: none;
    padding: 5px;
}