#dashboard-container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/fondo-dia.webp");
    color: #f5f1f1;
    height: 100vh;
}

[theme="dark"] #dashboard-container {
    background-image: url("./src/assets/rosario.jpg");
}

#dashboard-container::before {
    content: '';
    /* Necesario para crear el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Negro con 50% de opacidad */
    z-index: 1;
    /* Asegura que esté encima de la imagen */
}

.dashboard-container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    color: white;
    padding: 20px;
}


.dashboard-container-main img {
    width: 10%;
    border-radius: 100px;
    margin: 0 10px;
}

.dashboard-container-main button {
    margin: 20px;
    color: #000;
}