#dashboard-container{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-image: url("./src/assets/rosario.jpg");
    color: #000;
    height: 110vh;
}

.dashboard-container-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(227, 227, 227, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.dashboard-container-main img{
    width: 10%;
    border-radius: 100px;
    margin: 0 10px;
}

.dashboard-container-main button{
    margin: 20px;
    color: #000;
}