.navbar-container {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(227, 227, 227, 0.8);
    border-radius: 10px;
    margin: 0px;
}

.Contenedor-iconos {
    display: flex;
    justify-content: end;
}

/* Estilos del checkbox */
.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;

}

/* Oculta el checkbox real */
.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilos del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #acabab;
    transition: 0.4s;
    border-radius: 25px;
}

/* Icono del sol y la luna dentro del slider */
.slider:before {
    position: absolute;
    content: "☀️";
    /* Icono de sol */
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #f39c12;
    /* Color del sol */
    transition: 0.4s;
    border-radius: 50%;
    background-color: white;
}

/* Cuando está activado, muestra la luna */
input:checked+.slider {
    background-color: #333;
}

input:checked+.slider:before {
    transform: translateX(25px);
    content: "🌙";
    color: #f1c40f;
}




/* Estilos del contenedor del selector */
.language-selector {
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 16px;
    color: #333;
    grid-column: 3/4;
    grid-row: 1/2;
}

/* Estilos del label */
.language-selector label {
    margin-right: 8px;
}

/* Estilos del select */
.language-selector select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    appearance: none;
    /* Quita el estilo nativo del navegador */
}

/* Efecto al pasar el mouse */
.language-selector select:hover {
    border-color: #888;
    background-color: #e9e9e9;
}