.contendor-principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(227, 227, 227, 0.817);
    padding: 30px;
    color: #333;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 2;
    color: white;
}

.imagen_logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.Contenedor-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



[theme="dark"] .contendor-principal {
    background-color: #333;
}

.theme-toggle {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    position: relative;
    z-index: 2;
    color: white;

}

[theme="dark"] .theme-toggle {
    background-color: #333;
}

.theme-toggle:hover {
    background-color: #ece2aa;
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

.theme-toggle:active {
    transform: scale(0.95);
}

.theme-toggle:focus {
    outline: 2px solid #ffd700;
}

.theme-toggle .icon-sun {
    color: #ffd700;
}

.language-selector {
    display: flex;
    align-items: center;
}

.language-selector select {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    appearance: none;

}

.language-selector select:hover {
    background-color: #e0e0e0;
    border-color: #999;

}

.language-selector select:focus {
    outline: none;
    border-color: #ffd700;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}